$displayPC : 1280px;
$displayLaptop: 1024px;
$displayTablet: 800px;
$displayMobile: 640px;

@import './displayPC.scss';
@import './displayLaptop.scss';
@import './displayTablet.scss';
@import './displayMobile.scss';
@import './displayMiniMobile.scss';

@media screen and (min-width: $displayPC) {
    @include TODO-list-style-PC;
}

@media screen and (min-width: $displayLaptop) and (max-width: $displayPC) {
    @include TODO-list-style-laptop;
}

@media screen and (min-width: $displayTablet) and (max-width: $displayLaptop) {
    @include TODO-list-style-tablet;
}

@media screen and (min-width: $displayMobile) and (max-width: $displayTablet) {
    @include TODO-list-style-mobile;
}

@media screen and (max-width: $displayMobile) {
    @include TODO-list-style-miniMobile;
}